/* CSS Reset */
:root {
    --navBackground : #287271;
    --borderAnimationColor : #56cfe1;
    --head-text-color :  #d0fffa;
    --head-text-font : 1.5em 'Anton';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body {
    background-color: #343a40;
}

#nav-menu {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: var(--navBackground);
    align-items: center;
}

#logo > img {
    height: 80px;
}

#main-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.main-menu-slide-right {
    animation: slide-right 0.3s !important;
}

.main-menu-visible {
    visibility: visible !important;
    height: 100% !important;
    animation: slide-left 0.3s;
}

.menu {
    cursor: pointer;
    border-radius: 18px;
    padding: 5px;
    border: 2px solid var(--navBackground);
}

.menu > a{
    color: #e9ecef;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-weight: bold;
}

.menu:hover {
    animation: menuBorder .65s;
}

#small-screen-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hamburger Icon */
.menu-icon {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    height: 0;
}
.menu-icon > .line {
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 20px;
    display: block;
}
.menu-icon > .line + .line {
    margin-top: 8px;
}

.menu-icon .line {
    transition: transform .3s, opacity 0.3s;
}
.menu-icon.animate .line:first-child {
    transform: translateY(10px) scaleX(1.5) scaleY(1.5) rotate(45deg);
}
.menu-icon.animate .line:last-child {
    transform: translateY(-10px) scaleX(1.5) scaleY(1.5) rotate(-45deg);
}
.menu-icon.animate .line:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

.menu-icon.reverseAnimate .line:first-child {
    transform: translateY(0) scaleX(1) scaleY(1) rotate(0deg);
}
.menu-icon.reverseAnimate .line:last-child {
    transform: translateY(0) scaleX(1) scaleY(1) rotate(0deg);
}
.menu-icon.reverseAnimate .line:nth-child(2) {
    opacity: 1;
    transform: scaleX(1);
}

.section-container {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-container {
    padding: 50px 100px;
}

.punch-line {
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.punch-line div:first-child {
    font-size: 1.5em;
    color: #c4fff9;
}
.punch-line div:nth-child(2) {
    font-size: 2.5em;
    font-weight: bold;
    color: #CCCCCC;
}
.punch-line div:last-child {
    font-size: 2em;
    font-weight: bold;
    color: #5ae2db;
}

.intro {
    display: inline-block;
}
.intro::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #006466;
    transition: 400ms;
}
.intro:hover::after {
    width: 100%;
}

#about {
    margin: 50px 0;
}

.devImg img {
    height: 400px;
}

.about-card {
    display: flex;
    flex-direction: column;
    border-radius: 36px;
    transition: 500ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px;
}
.about-card div:first-child {
    justify-content: center;
    margin: auto;
    font: var(--head-text-font);
    color: var(--head-text-color);
}
.about-card div:last-child {
    text-align: center;
    font: 1.5em 'Titillium Web';
    color: #dee2e6;
}
.about-card:hover, .about-card:focus {
    transition: 500ms ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
}

.tech-stack-container {
    flex-direction: column;
}

.tech-stack-head {
    font: var(--head-text-font);
    color: var(--head-text-color);
}

.banner-container {
    overflow: hidden;
    display: inline-block;
    margin: 20px 0;
    height: 100%;
    width: 100vw;
    white-space: nowrap;
    background-color: #6c757d;
}
.banner-container::before, .banner-container::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #212529;
}
.logo-banner {
    display: inline-block;
    overflow: hidden;
    animation: bannerMove 5s linear infinite;
    align-items: center;
}

.logo-banner img {
    margin: 0 20px;
    object-fit: cover;
    height: 150px;
    background-color: transparent;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));

}

/* Responsive Design */
@media (max-width: 480px) {

    .menu-icon {
        visibility: visible;
        height: 22px;
        cursor: pointer;
    }

    #logo > img {
        height: 60px;
    }

    #nav-menu {
        flex-direction: column;
        align-items: normal;
    }

    #main-menu {
        flex-direction: column;
        gap: 0;
        visibility: hidden;
        height: 0;
    }
    #main-menu::before {
        content: "";
        height: 1px;
        width: 100vw;
        background-color: white;
    }

    .punch-line {
        text-align: center;
    }
    .punch-line div:first-child {
        font-size: 1em !important;
    }
    .punch-line div:nth-child(2) {
        font-size: 2em !important;
    }
    .punch-line div:last-child {
        font-size: 1.5em !important;
    }

    .about-card div:last-child {
        font-size: 1em !important;
    }
    .about-card div:first-child {
        font-size: 1.25em !important;
    }
    .section-container {
        padding: 0 15px !important;
    }
    .devImg img {
        height: 200px !important;
    }

    .logo-banner img {
        height: 100px !important;
        margin: 0 10px;
    }

    .section-container {
        padding-top: 50px !important;
    }
}

@media (max-width: 768px) {
    .intro-container {
        padding: 25px 50px;
    }
    /* .punch-line div:first-child {
        font-size: 1em !important;
    }
    .punch-line div:nth-child(2) {
        font-size: 2em !important;
    }
    .punch-line div:last-child {
        font-size: 1.5em !important;
    } */

    .intro:hover::after {
        width: 0;
    }

    .section-container {
        padding: 0 50px;
    }

    .about-container {
        flex-direction: column;
    }

    .logo-banner img {
        height: 120px;
    }
}

@media (max-width: 968px) {
    .devImg img {
        height: 300px;
    }

    .about-card div:last-child {
        font-size: 1.25em;
    }

    .intro-container {
        padding: 50px 50px;
    }

    .punch-line div:first-child {
        font-size: 1.25em;
    }
    .punch-line div:nth-child(2) {
        font-size: 2.25em;
    }
    .punch-line div:last-child {
        font-size: 1.625em;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes menuBorder {
    0% {
        border-left-color: var(--borderAnimationColor);
    }
    25% {
        border-top-color: var(--borderAnimationColor);
    }
    50% {
        border-left-color: var(--navBackground);
        border-right-color: var(--borderAnimationColor);
    }
    75% {
        border-top-color: var(--navBackground);
        border-bottom-color: var(--borderAnimationColor);
    }
    100% {
        border-right-color: var(--navBackground);
        border-left-color: var(--borderAnimationColor);
    }
}

@keyframes bannerMove {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}