/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#nav-menu {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: #023047;
}

#logo > img {
    height: 80px;
}

#main-menu {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu {
    cursor: pointer;
}

.menu > a{
    color: aliceblue;
    font-size: 1.5em;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-weight: bold;
}