@keyframes slow-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-slow-spin {
    animation: slow-spin 60s linear infinite;
  }
  
  @keyframes blood-drip {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
  
  .blood-drip {
    animation: blood-drip 15s ease-in infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 8rem));
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }