@keyframes rgb-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.rgb-line {
  background: linear-gradient(90deg, #4f46e5, #8b5cf6, #ec4899, #3b82f6);
  background-size: 300% 300%;
  animation: rgb-shift 3s ease infinite;
}